.calculationSelect {
  margin-bottom: 30px;
}

.total {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 30px;
}

.wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
